<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <provider class="io.github.bluething.spring.logging.structuredloggingwithcustomprovider.logback.provider.MyDataJSONProvider"/>
            </providers>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>